*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(37, 37, 37);
}
.container{
    display: grid;
    grid-template-rows: 55vw 1fr;
    grid-gap: 6vw;
    width: 85vw;
    margin: 3vw auto 0;
}
.image_wrapper_outher{
    height: 55vw;
    width: 85vw;
    overflow: hidden;
    text-align: center;
}
.image_wrapper_inner{
    display: inline-flex;
    height: 55vw;
    transition: transform 1s ease-in-out;
}
.image_wrapper{
    height: 55vw;
    width: 85vw;
}
.image_wrapper img{
    width: 100%;
    height: 100%;
}
.image_wrapper:nth-child(2){
    transform: translateX(-85vw);
    transition: transform 1s ease-in-out;
}
.image_wrapper:nth-child(3){
    transform: translateX(-170vw);
    transition: transform 1s ease-in-out;
}
.image_wrapper:nth-child(4){
    transform: translateX(-255vw);
    transition: transform 1s ease-in-out;
}
.info{
    display: grid;
    grid-gap: 6vw;
    justify-content: center;
}
.info_controls{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
}
.info_controls_control_wrapper{
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.info_controls_control{
    height: 3.5vw;
    width: 3.5vw;
    background-color: rgb(112, 102, 252);
    border:0.2em solid rgb(112, 102, 252);
    border-radius: 50%;
}
.info_controls_control:hover{
    background-color:rgb(255, 255, 255);
    border-color:rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
.info_text{
    font-family: sans-serif;
    font-size: 2vw;
    width: 40vw;
    height: 4vw;
    color:rgb(255, 255, 255);
}
h2{
    width: 40vw;
    height: 4vw;
    text-align: center;
}
h2:nth-child(2){
    transform: translateY(-4vw);
    transition: transform 1s ease-in-out;
}
h2:nth-child(3){
    transform: translateY(-8vw);
    transition: transform 1s ease-in-out;
}
h2:nth-child(4){
    transform: translateY(-12vw);
    transition: transform 1s ease-in-out;
}
@media (min-width: 1024px){
    .container{
        width: 75vw;
        grid-template-rows: 65vh 1fr;
        grid-gap: 4vw;
    }
    .image_wrapper_outher{
        height: 65vh;
        width: 75vw;
    }
    .image_wrapper_inner{
        height: 65vh;
    }
    .image_wrapper{
        height: 65vh;
        width: 75vw;
    }
    .image_wrapper img{
        width: 100%;
        height: 100%;
    }
    .image_wrapper:nth-child(2){
        transform: translateX(-75vw);
        transition: transform 1s ease-in-out;
    }
    .image_wrapper:nth-child(3){
        transform: translateX(-150vw);
        transition: transform 1s ease-in-out;
    }
    .image_wrapper:nth-child(4){
        transform: translateX(-225vw);
        transition: transform 1s ease-in-out;
    }
    .info{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 4vw;
    }
    .info_controls{
        order: 1;
        justify-content: right;
    }
    .info_controls_control_wrapper_control{
        height: 1.7vw;
        width: 1.7vw;
    }
    .info_text{
        order: 0;
    }
    h2{
        text-align: left;
    }
}
@media (min-width: 320px) {
    input {
        display: none;
    }
    body:has(input[value="first"]:checked) .image_wrapper:nth-child(2), .image_wrapper:nth-child(3), .image_wrapper:nth-child(4){
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="first"]:checked) h2:nth-child(2), h2:nth-child(3), h2:nth-child(4){
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="first"]:checked) .info_controls_control_second, .info_controls_control_third, .info_controls_control_fourth {
        background-color: rgb(112, 102, 252);
        transition: all 1.5s;
        cursor: pointer
    }
    body:has(input[value="first"]:checked) .info_controls_control_first{
        background-color: rgb(37, 37, 37);
        transition: all 1.5s;
        cursor: auto
    }
    body:has(input[value="first"]:checked) .info_controls_control_second:hover, .info_controls_control_third:hover, .info_controls_control_fourth:hover {
        background-color:rgb(255, 255, 255);
        border-color:rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    body:has(input[value="first"]:checked) .info_controls_control_first:hover{
        background-color: rgb(37, 37, 37);
        border:0.2em solid rgb(112, 102, 252);
    }
    body:has(input[value="first"]:checked) .image_wrapper:nth-child(1){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="first"]:checked) h2:nth-child(1){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="second"]:checked) .image_wrapper:nth-child(1),.image_wrapper:nth-child(3),.image_wrapper:nth-child(4){
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="second"]:checked) h2:nth-child(1), h2:nth-child(3), h2:nth-child(4) {
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="second"]:checked) .info_controls_control_first, .info_controls_control_third, .info_controls_control_fourth {
        background-color: rgb(112, 102, 252);
        transition: all 1.5s;
        cursor: pointer
    }
    body:has(input[value="second"]:checked) .info_controls_control_second{
        background-color: rgb(37, 37, 37);
        transition: all 1.5s;
        cursor: auto
    }
    body:has(input[value="second"]:checked) .info_controls_control_first:hover, .info_controls_control_third:hover, .info_controls_control_fourth:hover {
        background-color:rgb(255, 255, 255);
        border-color:rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    body:has(input[value="second"]:checked) .info_controls_control_second:hover{
        background-color: rgb(37, 37, 37);
        border:0.2em solid rgb(112, 102, 252);
    }
    body:has(input[value="second"]:checked) .image_wrapper:nth-child(2){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="second"]:checked) h2:nth-child(2){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="third"]:checked) .image_wrapper:nth-child(1),.image_wrapper:nth-child(2),.image_wrapper:nth-child(4){
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="third"]:checked) h2:nth-child(1), h2:nth-child(2), h2:nth-child(4){
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="third"]:checked) .info_controls_control_first, .info_controls_control_second, .info_controls_control_fourth {
        background-color: rgb(112, 102, 252);
        transition: all 1.5s;
        cursor: pointer
    }
    body:has(input[value="third"]:checked) .info_controls_control_third{
        background-color: rgb(37, 37, 37);
        transition: all 1.5s;
        cursor: auto
    }
    body:has(input[value="third"]:checked) .info_controls_control_first:hover, .info_controls_control_second:hover, .info_controls_control_fourth:hover {
        background-color:rgb(255, 255, 255);
        border-color:rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    body:has(input[value="third"]:checked) .info_controls_control_third:hover{
        background-color: rgb(37, 37, 37);
        border:0.2em solid rgb(112, 102, 252);
    }
    body:has(input[value="third"]:checked) .image_wrapper:nth-child(3){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="third"]:checked) h2:nth-child(3){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="fourth"]:checked) .image_wrapper:nth-child(1),.image_wrapper:nth-child(2),.image_wrapper:nth-child(3){
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="fourth"]:checked) h2:nth-child(1), h2:nth-child(2), h2:nth-child(3) {
        opacity: 0;
        transition: all 1.5s;
    }
    body:has(input[value="fourth"]:checked) .info_controls_control_first, .info_controls_control_second, .info_controls_control_third {
        background-color: rgb(112, 102, 252);
        transition: all 1.5s;
        cursor: pointer
    }
    body:has(input[value="fourth"]:checked) .info_controls_control_fourth{
        background-color: rgb(37, 37, 37);
        transition: all 1.5s;
        cursor: auto
    }
    body:has(input[value="fourth"]:checked) .info_controls_control_first:hover, .info_controls_control_second:hover, .info_controls_control_third:hover {
        background-color:rgb(255, 255, 255);
        border-color:rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    body:has(input[value="fourth"]:checked) .info_controls_control_fourth:hover{
        background-color: rgb(37, 37, 37);
        border:0.2em solid rgb(112, 102, 252);
    }
    body:has(input[value="fourth"]:checked) .image_wrapper:nth-child(4){
        opacity: 100;
        transition: all 1.5s;
    }
    body:has(input[value="fourth"]:checked) h2:nth-child(4){
        opacity: 100;
        transition: all 1.5s;
    }
}
